<%- include('partials/header'); %>

    <main class="section">
        <div class="container">
            <h1>Всем привет!</h1>
            <p>Добро пожаловать на сайт, созданный с помощью EJS</p>

            <h2><%= subheading %></h2>

            <ul>
            <%   for (let user of users) { %>

                <li><strong><%= user.name %></strong>, <%= user.designation %></li>
                    
            <%   } %>
            </ul>


        </div>
    </main>


<%- include('partials/footer'); %>